{% extends "base.html" %}

{% block title %}
Registrar ingreso | FinanSmart
{% endblock %}

{% block content %}
<div class="card">
    <h1>Registrar ingreso</h1>

    <p>
        Registra una nueva entrada de dinero.
    </p>

    <form method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <p>
            {{ form.amount.label_tag }}
            {{ form.amount }}
            {{ form.amount.errors }}
        </p>

        <p>
            {{ form.date.label_tag }}
            {{ form.date }}
            {{ form.date.errors }}
        </p>

        <p>
            {{ form.category.label_tag }}
            {{ form.category }}
            {{ form.category.errors }}
        </p>

        <p>
            {{ form.description.label_tag }}
            {{ form.description }}
            {{ form.description.errors }}
        </p>

        <button type="submit">
            Registrar ingreso
        </button>
    </form>
</div>
{% endblock %}