{% extends "base.html" %}
{% load humanize %}

{% block title %}
Mis ingresos | FinanSmart
{% endblock %}

{% block content %}
<div class="card">
    <h1>Mis ingresos</h1>

    <a
        class="button"
        href="{% url 'expenses:income-create' %}"
    >
        Registrar nuevo ingreso
    </a>
</div>

<div class="card">
    {% if incomes %}
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Categoría</th>
                    <th>Descripción</th>
                    <th>Monto</th>
                </tr>
            </thead>

            <tbody>
                {% for income in incomes %}
                    <tr>
                        <td>{{ income.date }}</td>
                        <td>{{ income.category.name }}</td>
                        <td>
                            {{ income.description|default:"Sin descripción" }}
                        </td>
                        <td>
                            ${{ income.amount|floatformat:2|intcomma }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Todavía no has registrado ingresos.</p>
    {% endif %}
</div>
{% endblock %}